.section5Container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1d1f1ffb;
}

.section5Container h1 {
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-top: 80px;
  line-height: 60px;
  margin-bottom: 60px;
  width: 50%;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.section5Container button {
  padding: 15px;
  border-radius: 30px;
  width: 300px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: lighter;
  background: rgb(5, 175, 5);
  color: aliceblue;
  border-style: none;
}
.section5Container button:hover {
  cursor: pointer;
}
.section5Para p {
  color: rgba(240, 248, 255, 0.89);
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  margin-right: 10px;
}
.section5Para {
  display: flex;
  min-width: 60%;
  max-width: 80%;
  margin-top: 200px;
  justify-content: space-between;
}
.copyrightPara {
  margin-top: 100px;

  width: 60%;
}
.copyrightPara p {
  color: rgb(202, 195, 195);
}
.openAccount2Btn {
  background-color: rgb(7, 168, 7);
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  .section5Para {
    width: 100%;
  }
  .section5Para p {
    color: rgba(240, 248, 255, 0.89);
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .copyrightPara {
    margin-top: 100px;

    width: 90%;
  }
  .copyrightPara p {
    color: rgb(202, 195, 195);
  }
  .section5Container h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 40px;
    margin-bottom: 60px;
    width: 80%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (max-width: 1000px) {
  .section5Container h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 50px;
    margin-bottom: 60px;
    width: 80%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section5Para {
    width: 90%;
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section5Para p {
    margin-bottom: 5px;
  }
  .copyrightPara {
    width: 90%;
  }
}
